
  <!doctype html>
 <html>
  <head>
    <title>Portfolio</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
     




  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->


</head>
<body>
<%= render 'layouts/header'%>

<%= yield %>
<%= javascript_include_tag 'application' %>

<style><%= yield :stylesheets %></style>


  


    <!-- Navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

<a class="navbar-brand" href="home">Medina-Virginie</a>
        </div>
        <div class="navbar-collapse collapse">
<ul class="nav navbar-nav navbar-right">


      <ul>
        <li><%= link_to'home', root_url%></li>
        <li><%= link_to'portfolio', portfolio_url%></li>
        <li><%= link_to'blog', blog_url%></li>
        <li><%= link_to'contact', contact_url%></li>



      </ul>

    </ul>

    </div>
    </div>
    </div>

    </header>

<footer>

<hr class="small">
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/virginie.medina.9 "><i class="fa fa-facebook-square" aria-hidden="true"></i>

                        </li>
                        <li>
                            <a href="https://twitter.com/MedinaMedinini?lang=fr"><i class="fa fa-twitter" aria-hidden="true"></i>


                        </li>
                        <li>
                            <a href="https://github.com/virginie33 "><i class="fa fa-github"></i>

                        </li>
                    </ul>

                    <p class="text-muted">Copyright &copy; medinavirginie 2016</p>
                </a>
            

                </div>
            </div>
        </div>
   

</footer>
    






<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="js/bootstrap.min.js"></script>
 






  <javascript src="http://jquery.com/jquery.js">
  <javascript src="//jquery.com/jquery.js">

</body>
</html>
