
 

   <h4><center>Ma gallerie</center></h4>
<div class="container">
  <div class="row">
      <h4>centre formation simplon.co</h4>
    <div class="col-md-3 col-sm-4 col-xs-6"><%= image_tag '3.png'%>   </div>
          <h4>ruby jeux combat</h4>
        <div class="col-md-3 col-sm-4 col-xs-6"><%= image_tag '5.png'%></div>
           <h4>bootstrap</h4>
        <div class="col-md-3 col-sm-4 col-xs-6"><%= image_tag 'bootstrap.jpg'%>   </div>
         <h4>defis simplon : front end</h4>
        <div class="col-md-3 col-sm-4 col-xs-6"><%= image_tag 'defis.png' %>  </div>
           <h4>demo cv : meteor</h4>
      <div class="col-md-3 col-sm-4 col-xs-6"> <%= image_tag 'cv.png' %>  </div>
        <h4>jeux ;js :coockies clikers </h4>
        <div class="col-md-3 col-sm-4 col-xs-6"><%= image_tag '2.png' %>  </div>
       <h4>site pour une asso : couleursvocales</h4>
      <div class="col-md-3 col-sm-4 col-xs-6"><%= image_tag 'couleursvocales.png' %>  </div>
        <h4>Github </h4>
        <div class="col-md-3 col-sm-4 col-xs-6"><%= image_tag '4.png' %>   </div>
        <h4>obsidian : Ruby on rails </h4>
       <div class="col-md-3 col-sm-4 col-xs-6"><%= image_tag 'obsidian.png'%>   </div>
       <h4>cv : html css </h4>
       <div class="col-md-3 col-sm-4 col-xs-6"><%= image_tag '1.png'%>   </div>
        <h4>portfolio ruby on rails </h4>
       <div class="col-md-3 col-sm-4 col-xs-6"><%= image_tag 'port.png'%>   </div>

      <h4>cv bootstrap </h4>
       <div class="col-md-3 col-sm-4 col-xs-6"><%= image_tag 'curry.png'%>   </div>
</div>
</div>





